/* #root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
} */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  cursor: pointer;
}

h2 {
  color: #000;
}

/* Mobile */

@media (max-width: 768px) {
  .nav-buttons {
    display: none;
  }
}

.burger-menu {
  position: relative;
}

.burger-menu-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #00005e;
  outline: none; 
  transition: transform 0.3s ease;
  color: #00005e;
}


.burger-menu-content {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
  width: 200px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.burger-menu-content nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.burger-menu-content nav ul li {
  margin: 10px 0;
}

.burger-menu-content nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease; 
}

.burger-menu-content nav ul li a:hover {
  background-color: #00005e; 
}

@media (max-width: 768px) {
  .search-section {
    flex-direction: column; 
    padding: 10px; 
    width: 100%; 
    align-items: stretch; 
  }

  .search-input {
    max-width: 100%;
    margin-bottom: 10px; 
  }

  .search-button {
    width: 100%; 
    color: white;
  }

  .icons {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
  } 

  .shareholders-table {
    display: block;
    color: #000;
  }
  
  .shareholders-table thead {
    display: none;
  }

  .shareholders-table tbody {
    display: block;
  }

  .shareholders-table tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #c3dff3;
  }

  .shareholders-table td {
    display: block;
    text-align: right;
    padding: 0.5rem 1rem;
    position: relative;
    word-wrap: break-word;
    box-sizing: border-box; 
}
} 

/* Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  min-width: 1000px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}

.modal-content input {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 22px;
  padding: 5px;
}

.modal-content label {
  font-size: 18px;
  text-align: left;
}

.button-group {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  color: #fff;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.button-group .modal-content_cancel {
  background-color: #e56464;
  color: #fff;
  font-size: 18px;
}

.button-group .modal-content_save {
  background-color: #28a745;
  color: #fff;
  font-size: 18px;
}

.button-group button:hover {
  opacity: 0.9;
}


/* Desktop */
.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.header img {
  height: 90px;
  width: 90px;
}

.header-right nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button-group button {
  flex: 1;
  padding: 10px 20px; 
  color: #00005E;
  border: none;
  margin: 0 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-group button.active-tab {
  background-color: #00005e;
  color: white;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36B6FF;
  margin: 20px 0;
  padding: 40px 20px;
  min-height: 100px;  
  max-width: 100%;
  box-sizing: border-box;
}

.search-input {
    width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
}

.search-button {
  max-width: 300px;
  padding: 10px;
  background-color: #00005e;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  color: white;
}

.nav-buttons {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.nav-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
  color: #00005e;
}

.nav-btn.active {
  background-color: #00005e;
  color: #fff;
}

.shareholders-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.shareholders-table thead th {
  background-color: #00005e; 
  color: white; 
  font-weight: bold; 
  font-size: 16px; 
  border-bottom: 2px solid #ccc; 
  text-align: center;
}

.shareholders-table th, .shareholders-table td {
  border: 1px solid #332f2f;
  padding: 10px;
  color: #000;
}

.pivoted button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 18px;
  color: #00005E;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.icons span {
  display: block;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-arrow {
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 18px;
}

.pagination-arrow:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 16px;
  margin: 0 15px;
  color: #000;  /* Black text */
  white-space: nowrap;  /* Prevent line breaks */
}

.footer {
  padding: 20px;
  background-color: #f7f7f7;
}

.footer .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.footer .contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 18px;
}

.logo img {
  height: 120px;
  width: 150px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 12px;
  color: #000;
}

.footer-bottom .link {
  color:#00005e;
}



