.formContainer {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

label {
    font-size: 16px;
    color: #000000;
    width: 150px;
}

.inputField {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFF6EF;
}

.submitButton {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #F09451;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    align-self: flex-end;
}

.submitButton:hover {
    background-color: #b3641b;
}